<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>create</servlet-name>
    <servlet-class>com.ironyard.servlet.CreateServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>create</servlet-name>
    <url-pattern>/budget</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>search</servlet-name>
    <servlet-class>com.ironyard.servlet.SearchServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>search</servlet-name>
    <url-pattern>/weekly</url-pattern>
  </servlet-mapping>
</web-app>
